business-logic/docs/apidocs/application.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?enunciate-assumed-base-uri ./?>
<wadl:application xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <wadl:doc xmlns:enunciate="http://enunciate.webcohesion.com/" enunciate:generatedBy="Enunciate-2.0"/>
  
  <wadl:grammars>
    <wadl:include href="ns0.xsd"/>
  </wadl:grammars>

  <wadl:resources base="./">

    <wadl:resource path="hello-world">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[GET REQUESTS]]></wadl:doc>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="user/health-data">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json">
          </wadl:representation>
          <wadl:representation mediaType="application/xml" element="user">
          </wadl:representation>
          <wadl:representation mediaType="text/xml" element="user">
          </wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml" element="user"/>
          <wadl:representation mediaType="text/xml" element="user"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="user/{userId}/calories-count">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[GET REQUESTS]]></wadl:doc>
        <wadl:request>
          <wadl:param name="from" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
          <wadl:param name="to" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml" element="statistics"/>
          <wadl:representation mediaType="text/xml" element="statistics"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="userId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>
  </wadl:resources>
</wadl:application>