storage-service/docs/apidocs/application.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?enunciate-assumed-base-uri ./?>
<wadl:application xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <wadl:doc xmlns:enunciate="http://enunciate.webcohesion.com/" enunciate:generatedBy="Enunciate-2.0"/>
  
  <wadl:grammars>
    <wadl:include href="ns0.xsd"/>
  </wadl:grammars>

  <wadl:resources base="./">

    <wadl:resource path="">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[GET REQUESTS]]></wadl:doc>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="activity-history">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[POST REQUESTS]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json">
          </wadl:representation>
          <wadl:representation mediaType="application/xml" element="activityHistory">
          </wadl:representation>
          <wadl:representation mediaType="text/xml" element="activityHistory">
          </wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="activity-info">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[GET REQUESTS]]></wadl:doc>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="food-history">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[POST REQUESTS]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json">
          </wadl:representation>
          <wadl:representation mediaType="application/xml" element="foodHistory">
          </wadl:representation>
          <wadl:representation mediaType="text/xml" element="foodHistory">
          </wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="user">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[POST REQUESTS]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json">
          </wadl:representation>
          <wadl:representation mediaType="application/xml" element="user">
          </wadl:representation>
          <wadl:representation mediaType="text/xml" element="user">
          </wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="activity-history/{historyId}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[GET REQUESTS]]></wadl:doc>
        <wadl:request>
          <wadl:param name="from" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
          <wadl:param name="to" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="historyId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="activity-history/{historyId}">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[PUT REQUESTS]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json">
          </wadl:representation>
          <wadl:representation mediaType="application/xml" element="activityHistory">
          </wadl:representation>
          <wadl:representation mediaType="text/xml" element="activityHistory">
          </wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="historyId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="activity-history/{historyId}">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[DELETE REQUESTS]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="historyId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="food-history/{historyId}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[GET REQUESTS]]></wadl:doc>
        <wadl:request>
          <wadl:param name="from" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
          <wadl:param name="to" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="historyId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="food-history/{historyId}">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[PUT REQUESTS]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json">
          </wadl:representation>
          <wadl:representation mediaType="application/xml" element="foodHistory">
          </wadl:representation>
          <wadl:representation mediaType="text/xml" element="foodHistory">
          </wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="historyId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="food-history/{historyId}">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[DELETE REQUESTS]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="historyId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="food-info/{foodId}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="foodId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="user/{UserId}">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[PUT REQUESTS]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json">
          </wadl:representation>
          <wadl:representation mediaType="application/xml" element="user">
          </wadl:representation>
          <wadl:representation mediaType="text/xml" element="user">
          </wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="UserId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="user/{UserId}">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[DELETE REQUESTS]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="UserId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="user/{userId}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[GET REQUESTS]]></wadl:doc>
        <wadl:request>
          <wadl:param name="from" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
          <wadl:param name="to" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="userId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="activity-history/by-user-id/{userId}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[]]></wadl:doc>
        <wadl:request>
          <wadl:param name="from" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
          <wadl:param name="to" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="userId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="food-history/by-user-id/{userId}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[]]></wadl:doc>
        <wadl:request>
          <wadl:param name="from" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
          <wadl:param name="to" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="userId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="food-info/search/{string}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[GET REQUESTS]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="string" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="user/light/{userId}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="userId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="user/{userId}/health-data">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="userId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>
  </wadl:resources>
</wadl:application>