food-activities-ext-adapter/docs/apidocs/application.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?enunciate-assumed-base-uri ./?>
<wadl:application xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <wadl:doc xmlns:enunciate="http://enunciate.webcohesion.com/" enunciate:generatedBy="Enunciate-2.0"/>
  
  <wadl:grammars>
    <wadl:include href="ns0.xsd"/>
  </wadl:grammars>

  <wadl:resources base="./">

    <wadl:resource path="activity-info">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[GET REQUESTS]]></wadl:doc>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml" element="exercises"/>
          <wadl:representation mediaType="text/xml" element="exercises"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="hello-world">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[GET REQUESTS]]></wadl:doc>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="food-info/{foodId}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="foodId" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="food-info/search/{string}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[GET REQUESTS]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="text/xml"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="string" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>
  </wadl:resources>
</wadl:application>